<launch>               
      <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen" required="true">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
      </node>
      <node pkg="nav_robot" name="speedchanger" type="RM_SPEED_CHANGER">
	<param name="control" value="M" />
      </node>
      <node pkg="nav_robot" name="motorcontroller" type="SPEED_CONTROLLER"></node>                     
</launch>
